node_env= development
server.host= localhost
server.port= 3005
server.doc-prefix= /swagger
server.prefix= api
redis.host= localhost
redis.port= 6379
redis.username=
redis.password=
database.host= localhost
database.port= 5432
database.name= crawl-db
database.username= usr
database.password= pwdpwdpwdpwd
minio.endpoint= localhost
minio.port= 9000
minio.ssl= false
minio.access-key= ePDezeTDISoaDi0WIiJK
minio.secret-key= jgnxrRhytAdOVLzN4Kpd6jKVC9KFnsWgbrVSKWDn
minio.bucket= margiet-crawl-image
nettruyen.domain= 'https://nettruyenrr.com'
cache.ttl=360000 #100 * 60 * 60
cache.max=1000
cache.refreshThreshold=300000 #100 * 60 * 50